
---
title: A post a day
---
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body class="blog_body">
    <div class="topNav">
        <div style="padding-left: 3vh;">
            <img src="./images/Logo@2x.png" width="30%">
        </div>
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../about.html">ABOUT</a></li>
            <li><a href="../blog.html"><strong style="font-family: inherit; color: rgb(206, 60, 60);">BLOG</strong></a></li>
            <li><a href="../projects.html">PROJECTS</a></li>
            <li><a href="../contact.html">CONTACT</a></li>
        </ul>
    </div>

    <div class="blog-content">
        <div class="description"><h1>A LOOK INTO MY MIND</h1></div>
        <p>Bruce Lee once said, "I don't fear the man who practices 1000 kicks in one day; I fear the man who practices one kick a day for 1000 days". What a great saying to live by.</p>
        <ul class="posts" style="text-align: center;">
            {% for post in site.posts %}
				<li class="norm"><span>{{ post.date | date_to_string }}</span> » <a class="norm" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
			{% endfor %}
        </ul>
    </div>

</body>


</html>





<!-- ---
layout: default
title: A post a day
---
<h1>{{ page.title }}</h1>
<p>Hi time traveller, please check out my updated <a href="/">website</a></p>
<p style="text-decoration: line-through;">Bruce Lee once said, "I don't fear the man who practices 1000 kicks in one day. I fear the man who practices one kick a day for 1000 days". And since I am relatively new to this whole coding industry, 
I will do my best to practice one kick a day for the next, I guess, thousand days. So here I will post one <em>new</em> "skill" a day. Be that uploading a photo and then a video, or testing out
a different framework? Let's see what happens. Also, I'll change the layout of this page, make use of better colors, fonts, etc. later on.</p>

	<ul class="posts">

	  {% for post in site.posts %}
	    <li class="norm"><span>{{ post.date | date_to_string }}</span> » <a class="norm" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul> -->
