<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/newMain.css">
		</head>
		<body>
			<div class="topNav">
				<ul>
				    <li><a href="../index.html">Home</a></li>
				    <li><a href="./about/"><u style="font-family: inherit;">About</u></a></li>
				    <li><a href="./blog.html">Blog</a></li>
				    <li><a href="./projects.html">Projects</a></li>
				    <li style="margin-top: 4vh;" ><a href="./contact.html">Contact</a></li>
				</ul>

			    </div>
			<div class="content">
				<div class="title"><h1>About Me</h1></div>
				<div class="description">{{ content }}</div>
				<div>
				    {% for post in site.posts %}
				    <div class="cardrow">
					<div class="cardcolumn">
					    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
					</div>
				    </div>
				    {% endfor %}
				    </div>
				
			</div>
			
			
			
		</body>
	</html>
