<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/newMain.css">
		</head>
		<body>
			<div class="topNav">
				<ul>
				    <li><a href="/">Home</a></li>
				    <li><a href="/about">About</a></li>
				    <li><a href="/blog">Blog</a></li>
				    <li><a href="/projects.html">Projects</a></li>
				    <li style="margin-top: 4vh;" ><a href="./contact.html">Contact</a></li>
				</ul>

			    </div>
			<div class="content">
				{{content}}
			</div>
			
			
			
		</body>
	</html>
